    body {
      background: black;
      display: flex;
      flex-direction: column;
        align-items: center;
    }

    h1 {
      justify-content: center;
      align-self: flex-start;
      font-family: "Courier New", Courier, monospace;
      font-size: clamp(1.5rem, 15vw, 8rem);
      color: #45F500;
      width: 100%;
      text-align: center;
      padding: 0px;
    }

    button {
      border-radius: 0 8px 8px 0;
      background: #28a745;
      color: white;
      border: 1px solid #28a745;
    }

    input {
      width: 80vw;
      border-radius: 8px 0 0 8px;
    }

    form {
        align-self: flex-end;

    }

    button, input {
      box-sizing: border-box;
      margin: 0;
      display: inline-block;
      padding: 10px;
      vertical-align: top;
      height: 48px;
      line-height: normal;
      border: none;
      float: left;
    }